[DEFAULT]
interval = 600

[VFS]
url = https://row2.vfsglobal.com/PolandBelarus-Appointment/Account/RegisteredLogin?q=shSA0YnE4pLF9Xzwon/x/ASnHZRMROGDyz5YljrTPrmD7weWKDzHm/9+x4kyou3T7EbygDK+7ECJT8O+dWpxGw==
#url = https://nowsecure.nl
#url = https://bot.sannysoft.com/
#url = https://www.google.com/recaptcha/api2/demo
email =
password =

[TELEGRAM]
auth_token = XXXXXXXXXX:YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
channel_id = -1234567891011
admin_ids = 123456789

[USER]
passport_number = MP999999
date_of_birth = 21/06/1962
passport_exp_date = 22/10/2024
first_name = Kristina
last_name = Dmitrieva
# mobile number prefix isn't used in processing
mobile_number_prefix = 48
mobile_number = 513572761
email = kristin1kozlovskaya@gmail.com